* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
main {
    padding: 1rem;
    margin: auto;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #dbc441;
    padding: 0 1.5rem;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #000;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
    padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
    margin: 0;
    text-align: center;
}

.card__image {
    width: 45%;
    max-width: 300px;
    justify-content: center;
}

.card__image img {
    justify-content: stretch;
    width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #00695c;
    color: white;
}
  