<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form class="product-form" action="/login" method="POST">
            <input type="hidden" name="userId">
            <div class="form-control">
                <label for="userpassword">User Email</label>
                <input type="email" name="userEmail" id="userEmail">
            </div>
            <div class="form-control">
                <label for="password">User Password</label>
                <input type="password" name="userPassword" id="userPassword">
            </div>
            <div class="form-control">
                <a href="register">Don't have an Account?  Register</a>
            </div>
            <button type="submit">Login</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %></body>