<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <p>Here will be card details</p>
    </main>
<%- include('../includes/end.ejs') %>